 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Flappy Bird</title>
        <!-- <meta name="viewport" content="width=768"> -->
        <meta name="description" content="Flappy Bird in HTML5">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" media="all" href="style.css">
        <script src="http://www.createjs.com/Demos/EaselJS/assets/preloadjs-NEXT.min.js"></script>
        <script src="http://code.createjs.com/createjs-2013.09.25.min.js"></script>
        <script src="http://www.appcycle.me/flappy/ndgmr.Collision.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="qrcode.min.js"></script>
        <script type="text/javascript" src="scripts.js"></script>
        <script type="text/javascript" src="adapter.js"></script>

        

        <!-- http://www.dafont.com/04b-19.font?text=Flappy+Bird -->
    </head>
    <body onload="init();">
    <div id="landing-page" class="landing-page">
        <h3>Current leader</h3>
        <div class="current-leader">
            <span class="position">1</span>
            <div class="score-wrapper">
                <span id="top-player-name" class="name"></span>
                <span id="top-player-score" class="points"></span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
        <div class="current-leader">
            <span class="position">2</span>
            <div class="score-wrapper">
                <span id="second-player-name" class="name"></span>
                <span id="second-player-score" class="points"></span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
        <div class="current-leader">
            <span class="position">3</span>
            <div class="score-wrapper">
                <span id="third-player-name" class="name"></span>
                <span id="third-player-score" class="points"></span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
        <div class="main-header">
            <div class="logo"></div>
            <span>Grab the HeartBIT Flappy Bird Badge</span>
            <span class="play-now">Scan QRCode & play now!</span>
            <div id="qrcode"></div>
            <span class="play-now">or enter link:</span>
            <div class="shortlink">bit.ly/1UvbJjd</div>
            <span class="play-now">Hash: </span><span id="interactionsHash"></span>
        </div>
    </div> 
    <div id="get-ready" style="display:none" class="get-ready">
        <h3>Start game in</h3>
        <span id="counter" class="counter"></span>
        <div class="instruction-tap">
            <span>Tap on your phone to play</span>
            <div class="phone">
                
            </div>
        </div>
    </div> 
    <div id="leader-board" style="display:none" class="leader-board">
    <h3>Leader board</h3>
        <div id="leaders-0" style="display: none;" class="item">
            <span class="position">1</span>
            <div class="score-wrapper">
                <span id="leaders-name-1" class="name">Richard</span>
                <span id="leaders-score-1" class="points">36666</span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
        <div id="leaders-1" style="display: none;" class="item">
            <span class="position">2</span>
            <div class="score-wrapper">
                <span id="leaders-name-2" class="name">Richard</span>
                <span id="leaders-score-2" class="points">36666</span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
        <div id="leaders-2" style="display: none;" class="item">
            <span class="position">3</span>
            <div class="score-wrapper">
                <span id="leaders-name-3" class="name">Richard</span>
                <span id="leaders-score-3" class="points">36666</span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
        <div id="leaders-3" style="display: none;" class="item">
            <span class="position">4</span>
            <div class="score-wrapper">
                <span id="leaders-name-4" class="name">Richard</span>
                <span id="leaders-score-4" class="points">36666</span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
        <div id="leaders-4" style="display: none;" class="item">
            <span class="position">5</span>
            <div class="score-wrapper">
                <span id="leaders-name-5" class="name">Richard</span>
                <span id="leaders-score-5" class="points">36666</span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
        <div id="leaders-5" style="display: none;" class="item">
            <span class="position">6</span>
            <div class="score-wrapper">
                <span id="leaders-name-6" class="name">Richard</span>
                <span id="leaders-score-6" class="points">36666</span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
        <div id="leaders-6" style="display: none;" class="item">
            <span class="position">7</span>
            <div class="score-wrapper">
                <span id="leaders-name-7" class="name">Richard</span>
                <span id="leaders-score-7" class="points">36666</span>
            </div>
            <div class="prize"></div>
            <div class="clearfix"></div>
        </div>
    </div> 
    <div id="signup" style="display:none" class="signup">
        <h3>Your score:</h3>
        <span id="score" class="score"></span>
        <div class="instruction-signup">
            <span>Signup to save result</span>
            <div class="phone">
                
            </div>
        </div>
    </div>
    <canvas id="testCanvas" width="768" height="1024"></canvas>
    <div class="signal-quality">
        <h3>Signal quality:</h3>
        <div class="progress-bar">
            <progress value="70" max="100">70 %</progress>
        </div>
    </div>
    <div class="latency">
        <h3>Your latency:</h3>
        <span class="latency-value">54ms</span>
    </div>
    <div class="sonae-logo"></div>
    </body>
</html>
